.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 1rem auto 1rem auto;
}

.card-container:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 1rem auto 1rem auto;
  transform: scale(1.01);
}

.nav-logo {
  font-size: 150%;
}
