.work-card {
  background-color: #f8f8f8;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 5rem;

  width: 46rem;

  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  border: 1px solid #DCDCDC;
}

.photo{
  border-radius: 50%;
  margin: 1rem;
}
