.work-card {
  background-color: #f8f8f8;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 5rem;

  width: 46rem;

  border-radius: 0.5rem;
  margin: 1rem 0 1rem 0;
  border: 0.5px solid #dcdcdc;
}

.photo-holder {
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  border-radius: 50%;
}

.card-table {
  width: 100%;
}

.company-name {
  padding: 0.5;
  text-align: left;
}

.job-description {
  font-weight: 300;
  font-size: 0.8rem;
}

.date-section {
  padding: 0.5;

  text-align: right;
  height: 100%;
  margin: 0;
}

.date {
  font-weight: 200;
  margin: 0;
  color: #696969;
}

.work-details {
  width: 100%;
}

.work-details-text {
  font-weight: 300;
}
